.navbar {
  font-family: Poppins;
  background-color: #DF7C81;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-title {
  font-family: Poppins;
  color: white;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  background: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-menu-items {
  font-family: Poppins;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
  overflow: hidden;
}

.navbar-menu-items a {
  font-family: Poppins;
  color: white !important;
  font-size: 16px !important;
}

.menu-bars {
  font-family: Poppins;
  display: none;
}

.navbar-toggle {
  display: none;
}

.navbar-menu {
  display: none;
}

.nav-menu-items {
  display: none;
}

.nav-menu.active {
  display: none;
}

@media (max-width: 767px) {

  .navbar-menu-items {
    display: none;
  }

  .menu-bars {
    color: white;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display: flex;
  }

  .navbar-toggle {
    color: white;
    background-color: rgb(76, 82, 76);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .nav-menu {
    background-color: rgb(76, 82, 76);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .nav-menu-items {
    display: block;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
    transition: 350ms;
  }

}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  color: black;
  background-color: pink
}

span {
  margin-left: 16px;
}